.popupMenu {
	font-size: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.popupMenu__title {
	margin: 0;
}

.popupMenu__btn {
	padding: 0.5em;
}

.popupMenu__menu {
	position: absolute;
	top: 35px;
	width: 2.5em;
	padding: 0.625em;
	z-index: 1;
	border-radius: 0.625em;
	border: 0.063em solid var(--color-primary-system);
	background-color: var(--color-content);
	transform: translateY(-1em);
	opacity: 0%;
	visibility: hidden;
	transition:
		transform 0.3s,
		opacity 0.3s,
		visibility 0.3s;
}

.popupMenu__menu::after {
	content: '';
	position: absolute;
	top: -1em;
	left: 50%;
	transform: translateX(-50%);
	border: 0.5em solid transparent;
	border-bottom: 0.5em solid var(--color-primary-system);
}

.popupMenu__menu--show {
	transform: translateY(0.5em);
	opacity: 100%;
	visibility: visible;
}

.popupMenu__menuContent {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
