.btn {
	font-size: 1rem;
	font-weight: bold;
	padding: 0.5rem 1em;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:0.5em;
	border-radius: 0.625em;
	scale: 1;
	transition: scale .3s;
}

@media(hover:hover){
	.btn:hover{
		scale: 0.99;
	}
}

