.msg {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 15;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	padding: 0.5em;
	background-color: var(--color-primary-system);
	border: 0.125em solid var(--color-secondary-system);
	border-radius: 0.625em;
	transform: translateX(-1.875em);
	opacity: 0%;
	visibility: hidden;
	transition:
		transform 1s,
		opacity 1s,
		visibility 1s;
}

.msg--show {
	transform: translateX(0);
	opacity: 100%;
	visibility: visible;
}

.msg--incorrect {
	background-color: var(--color-red);
	border: 0.125em solid var(--color-red-dark);
}
