.selectPer {
	width: 100%;
	font-size: 1rem;
	position: relative;
}

.selectPer__content {
	width: 100%;
	height: 3.125em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5em;
	cursor: pointer;
	padding: 0 1em;
	background-color: var(--color-sub-content);
	border: 0.125em solid var(--color-primary-system);
	border-radius: 0.625em;
}

.selectPer__content--error {
	border: 0.125em solid var(--color-red);
}

.selectPer__options {
	width: 100%;
	z-index: 5;
	position: absolute;
	opacity: 0%;
	visibility: hidden;
	overflow: hidden;
	margin-top: 0.5em;
	background-color: var(--color-sub-content);
	border: 0.125em solid var(--color-primary-system);
	border-radius: 0.625em;
	transition:
		opacity 0.3s,
		visibility 0.3s;
}

.selectPer__options--show {
	opacity: 100%;
	visibility: visible;
}

.selectPer__ul {
	max-height: 15em;
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: auto;
}

.selectPer__item {
	padding: 1em;
	cursor: pointer;
}

.selectPer__item--active {
	display: none;
}

@media (hover: hover) {
	.selectPer__item:hover {
		background-color: var(--color-primary-system);
	}
}

.selectPer__item:focus {
	background-color: var(--color-primary-system);
}
