.table {
	width: 100%;
	text-align: center;
}

.table__head {
	background-color: var(--color-sub-content);
}

.table__th {
	padding: 0.625rem;
	border: 0.125em solid var(--color-sub-content);
}

.table__th--action {
	width: 5em;
}

.table__body {
	background-color: var(--color-content);
}

.table__td {
	padding: 0.625rem;
	border: 0.125em solid var(--color-sub-content);
}

.table__btn {
	margin: 0 auto;
}
