.registerUser {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.registerUser__title {
	margin: 0;
	text-align: center;
}

.register {
	width: 100%;
	height: 25em;
	overflow: auto;
	font-size: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
	gap: 1em;
	align-items: flex-end;
}

@media screen and (width >= 768px) {
	.register {
		width: 40em;
	}
}
